{% extends 'base.html' %}

{% block content %}
<h1>Video Game Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ videogame.name }}</span>
                <p>Genre: {{ videogame.genre }}</p>
                <p>Description: {{ videogame.description }}</p>
            {% if videogame.year > 1995 %}
                <p>Year: {{ videogame.year }}</p>
            {% else %}
                <p>Year: Before 1994</p>
            {% endif %}
            </div>

            <div class="card-action">
                <a href="{% url 'videogames_update' videogame.id %}">Edit</a>
                <a href="{% url 'videogames_delete' videogame.id %}">Delete</a>
            </div>
        </div>
        
    {% for photo in videogame.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

        <form action="{% url 'add_photo' videogame.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>

    <div class="col s6">
        <form action="{% url 'add_playtime' videogame.id %}" method="POST">
            {% csrf_token %}
            {{ playtime_form.as_p }}
            <input type="submit" class="btn" value="Add Playtime">
        </form>
        
        <br>
    {% if videogame.played_for_today %}
        <div class="card-panel teal-text center-align">{{videogame.name}} has been played all day today</div>
    {% else %}
        <div class="card-panel red-text center-align">{{videogame.name}} is waiting to be played</div>
    {% endif %}
    
        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Playtime</th></tr>
            </thead>
        
            <tbody>
                {% for playtime in videogame.playtime_set.all %}
                    <tr>
                        <td>{{playtime.date}}</td>
                        <td>{{playtime.get_time_of_day_display}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col s6">
            <h3>{{ videogame.name }}'s Platforms</h3>
        {% if videogame.consoles.count %}
        {% for console in videogame.consoles.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    For the {{ console.name }} by {{ console.developer }}
                    </span>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h5>Does not belong to any consoles. :[</h5>
        {% endif %}
    </div>

    <div class="col s6">
        <h3>Available Consoles</h3>
        {% if consoles.count %}
        {% for console in consoles.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                {{ console.name }}</span> {{ console.developer }}
                </span>
            </div>
            <div class="card-action">
            <form action="{% url 'assoc_console' videogame.id console.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
            </form>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <h5>No consoles available</h5>
    {% endif %}
    </div>
</div> 

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var selectEl = document.getElementById('id_time_of_day');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}