{% extends 'base.html' %}

{% block content %}
<h1>Video Games List</h1>

{% for videogame in videogames %}
<div class="card">
    <a href="{% url 'detail' videogame.id %}">
        <div class="card-content">
            <span class="card-title">{{ videogame.name }}</span>
            <p>Genre: {{ videogame.genre }}</p>
            <p>Description: {{ videogame.description }}</p>
            {% if videogame.age > 1995 %}
            <p>Year: {{ videogame.age }}</p>
            {% else %}
            <p>Year: Before 1994</p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}
{% endblock %}